In [25]:


import pandas as pd

In [26]:
df = pd.read_excel("C:/Users/ertan/sem 5 ki backchodi/important notes/Product-Sales-Region.xlsx")

In [27]:
print(df.shape)       # rows, cols

(1500, 19)

In [28]:

print(df.columns)     # column names

Index(['Date', 'Region', 'Product', 'Quantity', 'UnitPrice', 'StoreLocation',
       'CustomerType', 'Discount', 'Salesperson', 'TotalPrice',
       'PaymentMethod', 'Promotion', 'Returned', 'OrderID', 'CustomerName',
       'ShippingCost', 'OrderDate', 'DeliveryDate', 'RegionManager'],
      dtype='object')

In [29]:

print(df.info())      # datatypes + missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1500 non-null   datetime64[ns]
 1   Region         1500 non-null   object
 2   Product        1500 non-null   object
 3   Quantity       1500 non-null   int64
 4   UnitPrice      1500 non-null   float64
 5   StoreLocation  1500 non-null   object
 6   CustomerType   1500 non-null   object
 7   Discount       1500 non-null   float64
 8   Salesperson    1500 non-null   object
 9   TotalPrice     1500 non-null   float64
 10  PaymentMethod  1500 non-null   object
 11  Promotion      1130 non-null   object
 12  Returned       1500 non-null   int64
 13  OrderID        1500 non-null   object
 14  CustomerName   1500 non-null   object
 15  ShippingCost   1500 non-null   float64
 16  OrderDate      1500 non-null   datetime64[ns]
 17  DeliveryDate   1500 non-null   datetime64[ns]
 18  RegionManager  1500 non-null   object
dtypes: datetime64[ns](3), float64(4), int64(2), object(10)
memory usage: 222.8+ KB
None

In [30]:

print(df.head())      # first 5 rows

        Date   Region Product  Quantity  UnitPrice StoreLocation CustomerType  \
0 2023-02-23     East  Laptop        14     163.60       Store B    Wholesale
1 2024-12-19    South   Phone         1     544.01       Store A       Retail
2 2023-05-10    North    Desk        14     346.18       Store B    Wholesale
3 2025-02-26  Central   Chair        18     384.82       Store A    Wholesale
4 2023-06-24     East    Desk        18     237.76       Store C       Retail

   Discount Salesperson  TotalPrice PaymentMethod Promotion  Returned  \
0      0.00         Eva    2290.400        Online  FREESHIP         0
1      0.00       Alice     544.010     Gift Card    SAVE10         0
2      0.10       Alice    4361.868        Online  WINTER15         0
3      0.15       Frank    5887.746     Gift Card  FREESHIP         0
4      0.00      Carlos    4279.680        Online    SAVE10         0

     OrderID CustomerName  ShippingCost  OrderDate DeliveryDate RegionManager
0  REG100000    Cust 6583         43.34 2023-02-23   2023-02-27          Eric
1  REG100001    Cust 2144          5.30 2024-12-19   2024-12-28        Sophie
2  REG100002    Cust 5998         20.46 2023-05-10   2023-05-19          Ryan
3  REG100003    Cust 7136         27.95 2025-02-26   2025-03-02       Cameron
4  REG100004    Cust 6506          5.73 2023-06-24   2023-06-27          Eric

In [31]:
print(df.isnull().sum())

Date               0
Region             0
Product            0
Quantity           0
UnitPrice          0
StoreLocation      0
CustomerType       0
Discount           0
Salesperson        0
TotalPrice         0
PaymentMethod      0
Promotion        370
Returned           0
OrderID            0
CustomerName       0
ShippingCost       0
OrderDate          0
DeliveryDate       0
RegionManager      0
dtype: int64

In [32]:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)

df["OrderDate"] = pd.to_datetime(df["OrderDate"] , format="%d-%m-%Y" , errors="coerce")
df["DeliveryDate"] = pd.to_datetime(df["DeliveryDate"] , format="%d-%m-%Y" , errors="coerce")

0

In [33]:
# Revenue after discount
df["NetRevenue"] = (df["Quantity"] * df["UnitPrice"]) - df["Discount"]

In [34]:


# Profit (Revenue - Shipping Cost)
df["Profit"] = df["NetRevenue"] - df["ShippingCost"]

In [35]:

# Delivery Time in Days
df["DeliveryTime"] = (df["DeliveryDate"] - df["Date"]).dt.days

In [36]:
df["Region"] = df["Region"].str.strip().str.title()
df["Product"] = df["Product"].str.strip()
df["CustomerName"] = df["CustomerName"].str.title()

In [37]:
print(df.describe(include="all"))

                                 Date Region Product     Quantity  \
count                            1500   1500    1500  1500.000000
unique                            NaN      5       7          NaN
top                               NaN   East  Tablet          NaN
freq                              NaN    311     240          NaN
mean    2024-04-07 21:35:02.400000256    NaN     NaN    10.410667
min               2023-01-01 00:00:00    NaN     NaN     1.000000
25%               2023-08-20 00:00:00    NaN     NaN     5.000000
50%               2024-04-08 12:00:00    NaN     NaN    11.000000
75%               2024-12-07 06:00:00    NaN     NaN    15.000000
max               2025-06-30 00:00:00    NaN     NaN    20.000000
std                               NaN    NaN     NaN     5.735732

          UnitPrice StoreLocation CustomerType     Discount Salesperson  \
count   1500.000000          1500         1500  1500.000000        1500
unique          NaN             4            2          NaN           6
top             NaN       Store D    Wholesale          NaN      Carlos
freq            NaN           400          756          NaN         270
mean     298.826947           NaN          NaN     0.073133         NaN
min        5.520000           NaN          NaN     0.000000         NaN
25%      151.020000           NaN          NaN     0.000000         NaN
50%      294.740000           NaN          NaN     0.050000         NaN
75%      446.702500           NaN          NaN     0.100000         NaN
max      599.720000           NaN          NaN     0.150000         NaN
std      169.100075           NaN          NaN     0.055979         NaN

          TotalPrice  ...     Returned    OrderID  CustomerName ShippingCost  \
count    1500.000000  ...  1500.000000       1500          1500  1500.000000
unique           NaN  ...          NaN       1500          1371          NaN
top              NaN  ...          NaN  REG100000     Cust 8150          NaN
freq             NaN  ...          NaN          1             4          NaN
mean     2919.994952  ...     0.248000        NaN           NaN    27.507293
min         6.970000  ...     0.000000        NaN           NaN     5.010000
25%       867.136250  ...     0.000000        NaN           NaN    16.700000
50%      2174.724000  ...     0.000000        NaN           NaN    27.100000
75%      4414.723500  ...     0.000000        NaN           NaN    38.635000
max     11077.000000  ...     1.000000        NaN           NaN    49.980000
std      2522.789977  ...     0.431996        NaN           NaN    13.093453

                            OrderDate                   DeliveryDate  \
count                            1500                           1500
unique                            NaN                            NaN
top                               NaN                            NaN
freq                              NaN                            NaN
mean    2024-04-07 21:35:02.400000256  2024-04-13 22:36:28.799999744
min               2023-01-01 00:00:00            2023-01-08 00:00:00
25%               2023-08-20 00:00:00            2023-08-25 12:00:00
50%               2024-04-08 12:00:00            2024-04-15 12:00:00
75%               2024-12-07 06:00:00            2024-12-13 06:00:00
max               2025-06-30 00:00:00            2025-07-10 00:00:00
std                               NaN                            NaN

       RegionManager    NetRevenue        Profit  DeliveryTime
count           1500   1500.000000   1500.000000   1500.000000
unique             5           NaN           NaN           NaN
top             Eric           NaN           NaN           NaN
freq             311           NaN           NaN           NaN
mean             NaN   3151.855493   3124.348200      6.042667
min              NaN      8.050000    -34.960000      2.000000
25%              NaN    917.137500    894.407500      4.000000
50%              NaN   2348.290000   2322.300000      6.000000
75%              NaN   4747.235000   4725.862500      8.000000
max              NaN  11525.950000  11500.730000     10.000000
std              NaN   2712.311541   2712.473904      2.539254

[11 rows x 22 columns]

In [38]:
# Total Revenue
print(df["NetRevenue"].sum())

4727783.24

In [39]:

# Total Profit
print(df["Profit"].sum())

4686522.3

In [40]:

# Return Rate
print(df["Returned"].value_counts(normalize=True) * 100)

Returned
0    75.2
1    24.8
Name: proportion, dtype: float64

In [41]:
region_category = (
    df.groupby(["Region", "Product"])["NetRevenue"]
      .sum()
      .sort_values(ascending=False)
)
print(region_category.head(10))

Region   Product
North    Monitor    190010.24
         Desk       183614.37
Central  Tablet     176269.16
South    Laptop     171950.37
North    Tablet     171806.43
South    Chair      162069.56
West     Tablet     161466.72
East     Printer    160344.96
West     Printer    158324.29
         Monitor    158060.37
Name: NetRevenue, dtype: float64

In [42]:
pivot = df.pivot_table(
    values="NetRevenue",
    index=["Region", "StoreLocation"],   # multi-level rows
    columns="Product",
    aggfunc="sum"
)
print(pivot)

Product                   Chair      Desk    Laptop   Monitor     Phone  \
Region  StoreLocation
Central Store A        46136.24  20303.27  51212.70  32715.38   6259.70
        Store B        12627.04  31052.75  28656.10  13591.94  26498.62
        Store C        26583.74  32926.71  32477.61  21788.83  14338.31
        Store D        35249.24  36814.73  38055.70  49031.10  29976.23
East    Store A        31410.31  44447.49  24189.34  36291.99  43171.70
        Store B        43564.66  41647.96  28371.13  26840.39  43603.93
        Store C         6419.35  18380.60  49900.56  20288.99  24561.82
        Store D        32794.44  22720.41  41699.74  45626.46  46015.13
North   Store A        18789.30  32654.36  36867.78  31718.23  15253.03
        Store B        39468.18  64998.86  14944.13  17724.40  14090.92
        Store C        44484.02  36828.06  51322.97  69038.37  26366.54
        Store D        45897.54  49133.09  27213.91  71529.24  30825.30
South   Store A        58054.73  19027.95  47206.26  26992.36  27955.60
        Store B        37543.51  20529.82  47011.47  14001.92  56025.23
        Store C        33800.69  14410.39  21995.96  47698.45  23599.24
        Store D        32670.63  20180.19  55736.68  20665.28  24498.18
West    Store A        57704.09  14234.94  20978.47  30623.96  37927.76
        Store B        15000.39  21283.01  26135.90  33194.62  22600.22
        Store C        38782.38  26411.45  35651.66  29589.31  10994.45
        Store D        12384.34  34043.85  57490.09  64652.48  12037.32

Product                 Printer    Tablet
Region  StoreLocation
Central Store A        36375.74  36081.49
        Store B        48642.80  45189.29
        Store C        52678.71  34509.63
        Store D        14502.28  60488.75
East    Store A        67708.45   7840.86
        Store B        19419.47  31912.48
        Store C        64624.87  32115.38
        Store D         8592.17  43181.13
North   Store A        30309.66  46467.05
        Store B        25340.88  62240.95
        Store C        50469.71  32027.44
        Store D        33983.52  31070.99
South   Store A        49210.97  11363.60
        Store B        32143.24  26851.20
        Store C        20184.89  37719.26
        Store D        30977.91  35051.66
West    Store A        31365.41  43566.83
        Store B        44941.68  34584.90
        Store C        31285.79  25234.14
        Store D        50731.41  58080.85

In [43]:


# Option B: Based on Quantity
df["Segment"] = pd.cut(
    df["Quantity"],
    bins=[0, 5, 15, float("inf")],
    labels=["Small Order", "Medium Order", "Large Order"]
)

In [44]:
# Define product to category mapping
product_to_category = {
    "Laptop": "Technology",
    "Mobile": "Technology",
    "Tablet": "Technology",
    "Shirt": "Clothing",
    "Shoes": "Clothing",
    "Watch": "Accessories",
    "Headphones": "Accessories"
}

# Map to a new column
df["Category"] = df["Product"].map(product_to_category)

In [45]:
df["Category"] = df["Category"].fillna("Other")

In [46]:
df["ProfitMargin%"] = (df["TotalPrice"] - df["ShippingCost"] - df["Discount"]) / df["TotalPrice"] * 100

df["MarginSegment"] = pd.cut(
    df["ProfitMargin%"],
    bins=[-100, 0, 20, 50, 100],
    labels=["Loss", "Low", "Medium", "High"]
)

In [53]:
df["OrderHour"] = df["OrderDate"].dt.hour
df["OrderSegment"] = pd.cut(
    df["OrderHour"],
    bins=[0, 12, 18, 24],
    labels=["Morning", "Afternoon", "Evening"],
    right=False
)


df["IsWeekend"] = df["OrderDate"].dt.dayofweek >= 5

print(df["IsWeekend"].value_counts()    )

print(df["OrderSegment"].value_counts().sort_index()    )

IsWeekend
False    1074
True      426
Name: count, dtype: int64
OrderSegment
Morning      1500
Afternoon       0
Evening         0
Name: count, dtype: int64

In [ ]:
customer_clv = (
    df.groupby("CustomerName")["NetRevenue"]
      .sum()
      .sort_values(ascending=False)
      .head(10)
)
print(customer_clv)

CustomerName
Cust 9159    19723.59
Cust 1947    17109.49
Cust 9397    15239.58
Cust 2137    14764.93
Cust 4240    13254.54
Cust 6895    12313.25
Cust 4101    12262.02
Cust 4715    12244.23
Cust 1462    11985.95
Cust 1186    11911.02
Name: NetRevenue, dtype: float64

In [49]:


df["AOV"] = df["NetRevenue"] / df["Quantity"]
print(df["AOV"].mean())
print(df["AOV"].median())

298.8137547277415
294.72541666666666

In [ ]:
return_rate = (
    df.groupby("CustomerName")["Returned"]
      .mean() * 100
).sort_values(ascending=True).head(10)


print(return_rate   )

#orders return rate by customers , 100 means he returns all his orders

CustomerName
Cust 1003    0.0
Cust 6577    0.0
Cust 6573    0.0
Cust 6561    0.0
Cust 6554    0.0
Cust 6546    0.0
Cust 6542    0.0
Cust 6579    0.0
Cust 6539    0.0
Cust 6525    0.0
Name: Returned, dtype: float64

In [58]:
rfm = df.groupby("CustomerName").agg({
    "OrderDate": "max",          # Recency
    "OrderID": "count",          # Frequency
    "NetRevenue": "sum"          # Monetary
}).rename(columns={
    "OrderDate": "LastPurchase",
    "OrderID": "Frequency",
    "NetRevenue": "Monetary"
})

rfm["RecencyDays"] = (df["OrderDate"].max() - rfm["LastPurchase"]).dt.days
print(rfm.head())

             LastPurchase  Frequency  Monetary  RecencyDays
CustomerName
Cust 1003      2025-06-30          1    321.82            0
Cust 1007      2024-07-28          1    366.36          337
Cust 1015      2024-01-01          1   1462.02          546
Cust 1023      2024-07-27          1   3944.67          338
Cust 1031      2023-02-01          1   1692.32          880

In [60]:
rfm["LoyaltySegment"] = pd.cut(
    rfm["Frequency"],
    bins=[0, 1, 5, 10, float("inf")],
    labels=["One-Time", "Occasional", "Frequent", "Loyal"]
)
print(rfm["LoyaltySegment"].value_counts())

LoyaltySegment
One-Time      1247
Occasional     124
Frequent         0
Loyal            0
Name: count, dtype: int64

In [65]:
import pandas as pd
from operator import attrgetter   # ✅ needed for extracting .n (period difference as int)

# Extract order month (Period type = year-month)
df["OrderMonth"] = df["OrderDate"].dt.to_period("M")

# Find each customer's first purchase month
df["CohortMonth"] = df.groupby("CustomerName")["OrderDate"].transform("min").dt.to_period("M")

# Cohort Index (months since first order)
df["CohortIndex"] = (df["OrderMonth"] - df["CohortMonth"]).apply(attrgetter("n"))

# Build cohort table
cohort_data = df.groupby(["CohortMonth", "CohortIndex"])["CustomerName"].nunique().reset_index()

# Pivot for retention matrix
cohort_pivot = cohort_data.pivot(index="CohortMonth", columns="CohortIndex", values="CustomerName")
print(cohort_pivot.head())

CohortIndex    0    1    2    3    4    5   6    7   8    9   ...   19   20  \
CohortMonth                                                   ...
2023-01      52.0  NaN  NaN  NaN  NaN  1.0 NaN  1.0 NaN  1.0  ...  NaN  1.0
2023-02      48.0  NaN  1.0  NaN  NaN  2.0 NaN  NaN NaN  NaN  ...  NaN  NaN
2023-03      59.0  NaN  NaN  1.0  1.0  NaN NaN  NaN NaN  NaN  ...  1.0  1.0
2023-04      41.0  1.0  NaN  NaN  NaN  NaN NaN  NaN NaN  NaN  ...  1.0  1.0
2023-05      45.0  NaN  NaN  NaN  1.0  NaN NaN  1.0 NaN  NaN  ...  1.0  NaN

CohortIndex   21   22   23   24   25   26   27   28
CohortMonth
2023-01      NaN  1.0  NaN  2.0  1.0  1.0  1.0  NaN
2023-02      NaN  NaN  1.0  NaN  3.0  NaN  NaN  1.0
2023-03      NaN  NaN  1.0  NaN  NaN  1.0  1.0  NaN
2023-04      1.0  1.0  NaN  NaN  NaN  NaN  NaN  NaN
2023-05      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 29 columns]